{% extends "auctions/layout.html" %}

{% block body %}
    <h2>{{ listing.name }}</h2>
    <h5>Created by user {{ listing.user }}</h5>

    <p>{{ listing.description }}</p>

    {% if listing.image_link %}
        <img src="{{ listing.image_link }}" alt="{{ listing.name }} image">
    {% endif %}

    <p>Current price: {{ listing.price }}</p>

    {% if user.is_authenticated %}
        <h6>Place your bid: </h6>
        <form action="{% url 'new_bid' listing.id %}" method="POST">
            {% csrf_token %}
            {{ place_bid }}
            <input type="submit" value="Place Bid">
            {% if error == True %}
                Error: New bid must be higher than the current highest bid
            {% endif %}
        </form>
    {% endif %}


{% endblock %}