{% extends "auctions/layout.html" %}

{% block body %}
    <h2>{{ listing.name }}</h2>
    <h5>Created by user {{ listing.user }}</h5>

    <p>{{ listing.description }}</p>

    {% if listing.image_link %}
        <img src="{{ listing.image_link }}" alt="{{ listing.name }} image">
    {% endif %}

    <p>Current price: {{ listing.price }}</p>

    {% if user.is_authenticated %}
        <h6>Place your bid: </h6>
        <form action="{% url 'new_bid' listing.id %}" method="POST">
            {% csrf_token %}
            {{ place_bid }}
            <input type="submit" value="Place Bid">
            {% if error == True %}
                Error: New bid must be higher than the current highest bid
            {% endif %}
        </form>

        {% if watchlist == True %}
            <form action="{% url 'watchlist_remove' listing.id %}" method="POST">
                {% csrf_token %}
                <input type="submit" value="Remove from watchlist">
            </form>
        {% else %}
            <form action="{% url 'watchlist_add' listing.id %}" method="POST">
                {% csrf_token %}
                <input type="submit" value="Add to watchlist">
            </form>
        {% endif %}
    {% endif %}


    {% if user.is_authenticated %}
        <h6>New Comment:</h6>
        <form action="{% url 'new_comment' listing.id %}" method="POST">
            {% csrf_token %}
            {{ new_comment }}
            <input type="submit" value="Post comment">
        </form>
    {% endif %}


    <h6>Comments: </h6>
    {% if not listing.comments.all %}
        No comments yet.
    {% else %}
        {% for comment in listing.comments.all %}
            <strong>{{ comment.commentor}} - {{ comment.date_added }}</strong>
            <br/>
            {{ comment.content }}
            <br/>
        {% endfor %}
    {% endif %}


{% endblock %}