{% extends "auctions/layout.html" %}

{% block body %}
    <h2>My Watchlist</h2>

    {% if not watchlist %}
        No items in watchlist

    {% else %}

        {% for listing in watchlist %}
            {% if listing.listing.active == True %}
                <ul>
                    <li class="nav-item">
                            <a class="nav-link" href="{% url 'listing' listing.listing.pk %}">{{ listing.listing.name }}</a>
                    </li>
                </ul>
            {% endif %}
        {% endfor %}

    {% endif %}
{% endblock %}